<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel ="tests">
  <test thread-count="5" name="Submit_order" >
    <classes>
      <class name="Practice.Sample_class"/>
    </classes>
    
  </test> <!-- Test -->
  <test thread-count="5" name="Error_validations">
    <classes>
      <class name="Practice.Error_validations"/>
    </classes>
    
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
